@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}



body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-color: hsl(225,100%,94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.container{
    margin-top: 7%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}


.text-content{
    padding: 7%;
    text-align: center;
}

.title{
    color:hsl(223, 47%, 23%);
    font: weight 900px;
    font-size: 32px;
    margin-bottom: 20px;
}

.text-content p.subtitle{
    color:hsl(245, 12%, 57%);
    margin-bottom: 25px
}

.plan-box{
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

.plan-box-left{
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-box-left div{
    margin-left: 20px;
}

.plan-box-left div h5{
    font-weight: 900;
    font-size: 15px;
}

.plan-box-left div p{
    font-size: 14px;
    color:hsl(245, 12%, 57%);
}
 
.plan-box a{
    font-weight: 900;
    color:hsl(224, 23%, 55%);
    transition: color 0.3s ease;
}

.plan-box a:hover{
    text-decoration: none;
    color:hsl(245, 75%, 52%);
}


a.proceed-btn{
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 20px 0;
    border-radius: 12px;
    margin-bottom: 30px;
    font-weight: 900;
    transition: background-color 0.3s ease;
    box-shadow: 0px 15px 5px rgb(223, 229, 252);
}

a.proceed-btn:hover{
    background-color: hsl(224, 23%, 55%);
}

a.cancel-btn{
    color: hsl(224, 23%, 55%);
    text-decoration:none ;
    font-weight: 900;
    transition: color 0.3s ease;
}

a.cancel-btn:hover{
    color:hsl(223, 47%, 23%)
}

